beautifulsoup4==4.11.1
contractions==0.1.72
keybert==0.7.0
matplotlib==3.4.1
nltk==3.7
pandas==1.2.4
Pillow==9.3.0
plotly==5.10.0
requests==2.28.1
streamlit==1.13.0
textblob==0.17.1
torch==1.7.1
transformers==4.23.1
wordcloud==1.8.2.2
